.new-plan-dialog {
    .text-field-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .text-field {
        margin: 8px 8px;
    }

    .buttons {
        justify-content: flex-end;
    }
}
