@import "node_modules/azure-devops-ui/Core/_platformCommon.scss";
@import "node_modules/azure-devops-ui/Core/core.scss";

.plan-card-container {
    margin: 16px 16px;
}

.plan-card {
    width: 240px;
    height: 300px;
    background-color: $white;
    @extend .font-weight-semibold;

    .name {
        @extend .title-s;
        height: 32px;
    }

    .description {
        @extend .body-m;
        height: 40px;
    }

    .projects-container,
    .teams-container {
        display: flex;
        flex-direction: column;
        margin-top: $spacing-16;

        .projects-label,
        .teams-label {
            @extend .body-s;
        }

        .projects-list,
        .teams-list {
            @extend .body-m;
        }
    }
}
