@import "node_modules/azure-devops-ui/Core/_platformCommon.scss";

.plan-directory-page-content {
    height: 100%;
    overflow: auto;
    margin-top: 24px;
    background-color: $neutral-2;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
