@import "node_modules/azure-devops-ui/Core/_platformCommon.scss";

.plan-card {
    width: 240px;
    height: 300px;
    margin: 16px 16px;
    background-color: $white;

    .title {
        padding-bottom: 4px;
    }

    .description {
        padding-bottom: 8px;
    }

    .teams {
        padding-bottom: 4px;
    }

    .projects {
        padding-bottom: 4px;
    }
}
