.configuration-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .progress-options {
        display: flex;
        align-items: baseline;
    }

    .progress-options-label {
        margin: 5px;
        margin-left: 15px;
        font-size: 16px;
    }

    .progress-options-dropdown {
        margin: 5px;
        width: 170px;
    }

    .add-item-button,
    .remove-item-button {
        margin: 5px;
    }
}
